</body>

        <footer>            
            <nav>
                <h5>SEGUINOS EN NUESTRAS REDES SOCIALES:</h5>
                <ul>
                    <li><a href="https://www.facebook.com" target="new">
                    <img src="public/img/facebook.png" alt="facebook_icono"></a></li>
                    <li><a href="https://instagram.com" target="new">
                    <img src="public/img/instagram.png" alt="instagram_icono"></a></li>
                    <li><a href="https://twitter.com" target="new">
                    <img src="public/img/twitter.png" alt="twitter_icono"></a></li>
                </ul>

            </nav>
                            
            <div>
                <p> Parcial 1 - Producción Web - Di Nardo, Reyes, Martínez &copy; copyright - 2022</p>
            </div>                

        </footer>

</html>