<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="public/css/estilos.css">
    <title>FOOTER</title>
</head>
<body>
    <header>
        <div>
            <img src="public/img/logo_white.png" alt="logo1">
        </div>

        <div>
            <nav>
                <ul>

                    <li><a href="index">INICIO</a></li>
                    <li><a href="index">QUIENES SOMOS</a></li>
                    <li><a href="producto">PRODUCTOS</a></li>
                    <li><a href="contacto">CONTACTO</a></li>

                    <li><a href="usuario">INICIAR SESION</a></li>
                    <li><a href="usuario">REGISTRARSE</a></li>
                    

                </ul>
            </nav>
        </div>
        
    </header>   

