<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="public/css/estilos.css">
    <title>FOOTER</title>
</head>
<body>
    <header>
        <div>
            <img src="public/img/logo_white.png" alt="logo1">
        </div>

        <div>
            <nav>
                <ul>

                    <li><a href="index">INICIO</a></li>
                    <li><a href="index.html#quienesomo">QUIENES SOMOS</a></li>
                    <li><a href="producto">PRODUCTOS</a></li>
                    <li><a href="contacto.html">CONTACTO</a></li>

                    <li><a href="loginuser.html">INICIAR SESION</a></li>
                    <li><a href="altauser.html">REGISTRARSE</a></li>
                    

                </ul>
            </nav>
        </div>
        
    </header>   

