<main>
    <div class = "instrums">
        <img src="public/img/instrums.png" alt="portada">
    </div>
    <h2 id="quienesomo">QUIENES SOMOS:</h2>
    <div class= "somos">
        <div class="historia">
                
            <h3>NUESTRA HISTORIA</h3>
            <p>A principios del 2020, comienza el proyecto de abrir nuestro primer local de instrumentos musicales, ofeciendo equilibrio en calidad y precio, tanto a estudiantes como a profesionales. Lamentablemente, en Marzo llego el COVID19, el cual hizo que los planes no se llebaran a cabo, demorando la apertura del local, el cual abrio en Julio 2021 con tal éxito repentino, permitiendonos abrir dos locales más.</p>

            <p>En Mayo 2022 abre esta página web. Aquí encontrarás todos los instrumentos musicales que ofresemos en nuestros locales y hacernos pedidos de otros instrumentos que no tengamos, también ponerte en contacto con nosotros para despejarte de cualquier duda o contarnos tus opiniones y sugerencias. </p>
            
        </div>

        <div class="mision">
        <h3>MISIÓN Y VISIÓN</h3>
            <p>Nuestra misión es brindar a nuestros clientes la mejor experiencia al adquirir instrumentos musicales, logrando la conformidad con profesionalismo.</p>
            
            <p>Nuestra vision es convertirnos en la tienda de instrumentos musicales mas grande del país ofreciendo los mejores productos de calidad.</p>
            
        </div>
    </div>
</main>